.input-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    margin: 0px;
}

button {
    margin: auto;
    margin-top: 5px;
    display: block;
}

.mad-lib-container {
    display: none;
}